<div class="game-container">
    <h1>Juego de Preguntados: Pokémon</h1>
    <div *ngIf="!juegoTerminado">
      <div *ngIf="pokemon">
        <img [src]="pokemon.sprites.front_default" alt="{{ pokemon.name }}" />
        <h2>¿Cuál es el nombre de este Pokémon?</h2>
        <div class="options">
          <button *ngFor="let opcion of opciones" (click)="evaluarRespuesta(opcion)">
            {{ opcion }}
          </button>
        </div>
        <p [ngClass]="['message', mensajeClase]">{{ mensaje }}</p>
        <p class="score">Puntaje: {{ puntaje }}</p>
        <p>Intentos restantes: {{ maxIntentos - intentos }}</p>
      </div>
    </div>
  
    <div *ngIf="juegoTerminado">
      <h2>¡Perdiste, Juego Terminado!</h2>
      <p>Tu puntaje final es: {{ puntaje }}</p>
      <button (click)="reiniciarJuego()">Reiniciar Juego</button>
    </div>
  </div>
  