<div class="contenedor-card" *ngIf="!showChat">
  <div class="card" style="width: 18rem;">
      <img src="https://i.postimg.cc/Kz5hfBVp/ahorcado.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">AHORCADO</h5>
        <p class="card-text">El ahorcado es un juego donde los jugadores adivinan una palabra letra por letra. Deben hacerlo antes de que se complete el dibujo del ahorcado, que avanza con cada error.</p>
        <div class="card-btn">
          <a *ngIf="this.auth.isLoggedIn" routerLink="../juegos/ahorcado" class="btn btn-primary">Jugar</a>
        </div>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="https://i.postimg.cc/QtfnVbvD/pokemon.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">PREGUNTADOS</h5>
        <p class="card-text">Preguntados es un juego de trivia en el que los jugadores deben acertar la mayor cantidad de respuestas sobre POKEMON  </p>
        <div class="card-btn">
          <a *ngIf="this.auth.isLoggedIn" routerLink="../juegos/preguntados" class="btn btn-primary">Jugar</a>
        </div>

      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="https://i.postimg.cc/4dfSJMLw/cartas.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">MAYOR O MENOR</h5>
        <p class="card-text">Mayor o Menor es un sencillo y emocionante juego de cartas en el que los jugadores deben adivinar si la siguiente carta será mayor o menor que la carta actual.</p>
        <div class="card-btn">
          <a *ngIf="this.auth.isLoggedIn" routerLink="../juegos/mayoromenor" class="btn btn-primary">Jugar</a>
        </div>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="https://i.postimg.cc/Fz1CSSQL/sumayresta.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">SUMA Y RESTA</h5>
        <p class="card-text">El juego muestra números aleatorios con signos de suma o resta por un tiempo limitado. Al final, el jugador debe calcular mentalmente la suma total, desafiando su memoria y agilidad mental.</p>
        <div class="card-btn">
          <a *ngIf="this.auth.isLoggedIn" routerLink="../juegos/sumayresta" class="btn btn-primary">Jugar</a>
        </div>
      </div>
    </div>
</div>
<div class="chat-container" [ngClass]="{'chat-on':showChat,'chat-container':!showChat}">
  <button  class="btn btn-primary btn-chat" [ngClass]="{'btn-chat-on':showChat,'btn-chat-off':!showChat}" *ngIf="this.auth.isLoggedIn" (click)="toggleChat()">{{ buttonText }}</button>
  <app-chat  class="chat" *ngIf="showChat"></app-chat>
</div>