<div class="contenedor-card">
    <div class="card" style="width: 18rem;">
        <img src="assets/ahorcado.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">AHORCADO</h5>
          <p class="card-text">Ahorcado es un clásico juego de adivinanza en el que los jugadores intentan descubrir una palabra secreta letra por letra. El objetivo es adivinar la palabra antes de que se complete el dibujo de un ahorcado, que se dibuja progresivamente con cada intento fallido.</p>
          <a href="#" class="btn btn-primary">Jugar</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="assets/pokemon.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">PREGUNTADOS</h5>
          <p class="card-text">Preguntados es un juego de trivia en el que los jugadores deben acertar la mayor cantidad de respuestas sobre POKEMON  </p>
          <a href="#" class="btn btn-primary">Jugar</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="assets/cartas.jfif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">MAYOR O MENOR</h5>
          <p class="card-text">Mayor o Menor es un sencillo y emocionante juego de cartas en el que los jugadores deben adivinar si la siguiente carta será mayor o menor que la carta actual.</p>
          <a href="#" class="btn btn-primary">Jugar</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Juego???</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, vitae illum mollitia sunt eum nulla molestias a dolorum, magnam quia ipsa. Eaque minus, laborum at soluta ab dolore fugiat repellendus?</p>
          <a href="#" class="btn btn-primary">Jugar</a>
        </div>
      </div>
</div>
