/* Estilo para la barra de navegación */
html,body{
  margin: 0;
  width: 100vh;
}

.navbar {
    background-color: #007bff; /* Azul primario */
    border-bottom: 2px solid #000; /* Borde negro en la parte inferior de la barra de navegación */
  }
  
  .navbar-brand {
    color: #fff; /* Texto blanco para la marca */
    font-weight: bold; /* Fuente en negrita */
  }
  
  .navbar-nav .nav-link {
    color: #fff; /* Texto blanco para los enlaces */
    margin-right: 15px; /* Espacio entre los enlaces */
  }
  
  .navbar-nav .nav-link.active {
    border-bottom: 2px solid #fff; /* Línea blanca debajo del enlace activo */
  }

  .login-btn
  {
    margin-left: 1;
  }

  .session-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    text-align: center;
  }

  .session-container p {
    margin-top: 1rem;
  }
