<form class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Inicia sesion</h1>
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" id="inputEmail" class="form-control" name="email" [(ngModel)]="email" placeholder="Email address" required>
    <br>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" name="password" [(ngModel)]="password" placeholder="Password"
        required>
    <button class="btn btn-lg btn-primary btn-block" (click)="login()">Ingresar</button>
    <button class="btn btn-lg btn-secondary btn-block" (click)="accesoRapido()">Acceso Rapido</button>
</form>