html, body {
  height: 100%;
  margin: 0;
}

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 20px; 
    box-sizing: border-box; 
    margin-top: 100px;
}

  .teclado {
    margin-top: 20px;
  }
  
  .teclado-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 5px;
  }
  
  button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff; 
    color: white;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3; 
  }
  
  button.usada {
    background-color: #6c757d; 
  }
  
  .palabra {
    font-size: 24px;
    margin: 20px 0;
  }
  
  .ganaste {
    color: green;
  }
  
  .perdiste {
    color: red; 
  }
  
  .reiniciar-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #28a745; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .reiniciar-btn:hover {
    background-color: #218838; 
  }
  

