.quien-soy-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    border: 2px solid #000; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold;
  }
  
  .centered-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    background-image: url(https://images.unsplash.com/photo-1588420343728-7411f4c87441?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .component-container {
    max-width: 800px;
    width: 100%;
  }
  
  .component-container h1 {
    color: #464a50; 
    margin-bottom: 20px;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
    font-weight: bold;
  }
  
  .details h2,
  .game-explanation h2 {
    color: #464a50; 
    border-bottom: 2px solid #464a50; 
    padding-bottom: 5px;
    margin-bottom: 20px; 
    font-weight: bold;
  }
  
  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #000; 
    margin-right: 20px; 
  }
  
  .personal-info {
    display: flex;
    align-items: center; 
    margin-bottom: 20px; 
    border: 2px solid #000; 
    border-radius: 8px; 
    padding: 10px;
  }
  
  .component-container p {
    color: #333; 
    margin: 10px 0;
    font-weight: bold;
  }
  
  .game-explanation {
    padding-top: 20px;
    border: 2px solid #000; 
    border-radius: 8px;
    padding: 10px; 
  }
  