<div class="centered-container">
    <div class="component-container">
      <div class="quien-soy-container">
        <h1>Quién Soy</h1>
  
        <div class="personal-info">
          <img src="assets/yo.jpeg" alt="Mi Imagen" class="profile-image"/>
          <div class="details">
            <h2>Datos Personales</h2>
            <p><strong>Nombre:</strong> Facundo Careri</p>
            <p><strong>Edad:</strong> 24 años</p>
            <p><strong>Curso:</strong> LAB IV A341</p>
            <p><strong>Email:</strong> facucareri&#64;gmail.com</p>
          </div>
        </div>
  
        <div class="game-explanation">
          <h2>Explicación del Juego</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate excepturi expedita fuga illo nulla voluptates reiciendis aliquam iure perferendis quis commodi, cum, debitis laborum corrupti ratione magnam quia ad cumque.</p>
        </div>
      </div>
    </div>
  </div>
  